div.grid-square {
	background-color: red;
}

div.main-container {
	display: flex;
	padding: 0px;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	background-color: blue;
	width: 90vw;
	height: 90vh;
}